body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  background-color: #FF987D;
  color: #444;
}

h1 {
  font-family: 'Bree Serif', serif;
  font-size: 64px;
}

h1, h2 {
  color: #B62082;
  text-shadow: 1.5px 1.5px #570038;
}

h2, h3 {
font-family: 'Bree Serif', serif;
font-style: normal;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 24px;
}

a {
  color: #B62082;
}

a:visited {
  color: #B62082;
}

a:hover {
  color: #006E30;
  text-decoration: underline;
}

ul {
  list-style: none;
}

li {
  margin: 0.25em;
}

/*===*/

.container {
  margin-top: 10%;
  width: 55%;
  background-color: #6BDB9C;
}

.form-entry {
  margin: 1em;
}

.return {
  text-align: right;
}
